{% capture logo_url %}
  https://cdn.shopify.com/s/files/1/0774/3114/4728/files/sleeper-logo.png
{% endcapture %}
{% capture email_title %}
  {% if customer.first_name %}
    Thank you for shopping with Sleeper, {{customer.first_name}}.
  {% else %}
    Thank you for shopping with Sleeper.
  {% endif %}
{% endcapture %}
{% capture order_title %}
  ORDER {{name}}
{% endcapture %}
{% capture email_content %}
  We're getting your order ready, and will be in touch with tracking details as soon as it ships.
{% endcapture %}
{% capture cta_text %}
  VIEW YOUR ORDER
{% endcapture %}
{% capture link_to_pinterest %}
  #
{% endcapture %}
{% capture link_to_tiktok %}
  #
{% endcapture %}
{% capture link_to_facebook %}
  #
{% endcapture %}
{% capture link_to_instagram %}
  https://www.instagram.com/
{% endcapture %}

{% capture space_micro %}
  <div style="height: 10px"></div>
{% endcapture %}
{% capture space_small %}
  <div style="height: 20px"></div>
{% endcapture %}
{% capture space_big %}
  <div style="height: 40px"></div>
{% endcapture %}

{% capture hr %}
  <div class="invert" style="height: 1px; background-color: #000000; margin-left: 7px; margin-right: 7px;"></div>
{% endcapture %}
{% capture header %}
  <table>
    <tr>
      <td>
        <center style="padding-top: 30px; padding-bottom: 30px;">
          <img class="invert" src={{logo_url}} alt="Sleeper logo" width="103" height="21"/>
        </center>
      </td>
    </tr>
  </table>
{% endcapture %}
{% capture cta_btn_link %}
  <tr>
    <td>
      <a href="{{ order_status_url }}"
        style="text-transform: uppercase; letter-spacing: 0.36px; font-size: 12px; line-height: 12px; color: #333333; width: 100%; cursor: pointer;">
        <center style="padding: 0 20px;">
          <center
            style="padding: 18px 0; border: 1px solid #92C1EF; max-width: 370px; font-family: Mabry Pro, sans-serif;">
            {{ cta_text }}
          </center>
        </center>
      </a>
    </td>
  </tr>
{% endcapture %}
{% capture footer %}
  <table>
    <tr>
      <td>
        {{ space_big }}
        <center>
          <h2 style="font-family: Manner Pro Medium, sans-serif;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              color: #222222;
              padding: 0;
              margin: 0;
            "
          >
            We're here if you need help.
          </h2>
        </center>
      </td>
    </tr>

    <tr>
      <td>
        {{ space_small }}
        <center>
          <table>
            <tr>
              <td>
                <a href="mailto:{{ shop.email }}" style="margin-right: 20px; text-decoration: none; font-size: 12px; line-height: 16px; font-family: Mabry Pro, sans-serif; font-weight: 400; color: #333333;">
                  Contact Us
                </a>
              </td>
              <td>
                <a href="#" style="margin-right: 20px; text-decoration: none; font-size: 12px; line-height: 16px; font-family: Mabry Pro, sans-serif; font-weight: 400; color: #333333;">Exchanges & Returns</a>
              </td>
              <td>
                <a href="#" style="margin-right: 20px; text-decoration: none; font-size: 12px; line-height: 16px; font-family: Mabry Pro, sans-serif; font-weight: 400; color: #333333;">FAQs</a>
              </td>
              <td>
                <a href="#" style="text-decoration: none; font-size: 12px; line-height: 16px; font-family: Mabry Pro, sans-serif; font-weight: 400; color: #333333;">My Account</a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>

    <tr>
      <td>
        {{ space_small }}
        <center>
          <a href="mailto:{{ shop.email }}" style="font-size: 12px;
            line-height: 16px;
            font-family: Mabry Pro, sans-serif;
            font-weight: 400;
            color: #999999;
            text-decoration: none;
            padding: 0;
          "
          >
            Or, you can reply to this email and we'll be in touch.
          </a>
        </center>
      </td>
    </tr>

    <tr>
      <td>
        {{space_small}}
        <center>
          <table>
            <tr>
              <td>
                <a href={{link_to_pinterest}} style="margin-right: 5px;">
                  <img src="https://cdn.shopify.com/s/files/1/0774/3114/4728/files/Pinterest.png?v=1697979603" alt="Pinterest" height="15px" width="15px" />
                </a>
              </td>

              <td>
                <a href={{link_to_tiktok}} style="margin-right: 5px;">
                  <img src="https://cdn.shopify.com/s/files/1/0774/3114/4728/files/TikTok.png?v=1697979603" alt="TikTok" height="15px" width="15px" />
                </a>
              </td>

              <td>
                <a href={{link_to_facebook}} style="margin-right: 5px;">
                  <img src="https://cdn.shopify.com/s/files/1/0774/3114/4728/files/Facebook.png?v=1697979603" alt="Facebook" height="15px" width="15px" />
                </a>
              </td>

              <td>
                <a href={{link_to_instagram}}>
                  <img src="https://cdn.shopify.com/s/files/1/0774/3114/4728/files/Instagram.png?v=1697979603" alt="Instagram" height="15px" width="15px" />
                </a>
              </td>
            </tr>
          </table>
        </center>
        {{space_micro}}
      </td>
    </tr>
  </table>
{% endcapture %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
    @font-face {
      font-family: 'Manner Pro Regular';
      src: url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/manner-regular-pro.woff2?v=1697787703') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/manner-regular-pro.woff?v=1697787703') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/manner-regular-pro.ttf?v=1697787703') format('truetype');
    }

    @font-face {
      font-family: 'Manner Pro Medium';
      src: url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/manner-medium-pro.woff2?v=1697787703') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/manner-medium-pro.woff?v=1697787703') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/manner-medium-pro.ttf?v=1697787703') format('truetype');
    }

    @font-face {
      font-family: 'Mabry Pro';
      src: url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/mabry-regular-pro.woff2?v=1697787703') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/mabry-regular-pro.woff?v=1697787703') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0774/3114/4728/files/mabry-regular-pro.ttf?v=1697787703') format('truetype');
    }

    a {
      text-decoration: none;
    }

    * {
      margin: 0;
      padding: 0;
    }

    .gray-text p {
      font-family: Mabry Pro, sans-serif;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: #8e8e8e;
      letter-spacing: 0.36px;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <center style="width: 100%;">
    <table>
      <tr>
        <td>
          <center style="background-color: #FAFAFA; max-width: 414px;">
            {{ header }}

            <table>
              <tr>
                <td>
                  <center>
                    <p
                      style="font-family: Manner Pro Medium, sans-serif; color: #222222; font-size: 24px; line-height: 1.25; max-width: 324px; padding: 0;">
                      {{ email_title }}</p>
                  </center>
                </td>
              </tr>
            </table>

            {{space_big}}

            <table style="width: 100%; border-spacing: 0">
              <tr>
                <td>
                  <center>
                    <tr>
                      <td>
                        <center>
                          <h2
                            style="font-family: Manner Pro Medium, sans-serif; font-size: 24px; line-height: 1.25; max-width: 324px; font-weight: 500; color: #222222; margin: 0;">
                            {{ order_title }}</h2>
                        </center>
                        {{space_micro}}
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <center>
                          <p
                            style="max-width: 324px; font-family: Mabry Pro, sans-serif; line-height: 1.33; color: #222222; font-size: 12px; padding: 0;">
                            {{ email_content }}
                          </p>
                        </center>
                        {{space_small}}
                      </td>
                    </tr>

                    {{ cta_btn_link }}
                    
                    <tr>
                      <td>
                        {{ space_micro }}
                        {{ space_small }}
                  
                        <center>
                          <a href="{{ shop.url }}" style="max-width: 324px; font-size: 12px;
            font-weight: 400; line-height: 1.33; padding: 0; margin: 0; font-family: Mabry Pro, sans-serif; color: #222222;">
                          Visit our store</a>
                        </center>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <table style="display: block;">
                          <tr>
                            {% for line in subtotal_line_items %}
                              <td width="50%" style="box-sizing: border-box; padding: 0 5px; vertical-align: top; display: inline-block">
                                <table>
                                  <tr>
                                    <td>
                                      <center>
                                        <img style="object-fit: contain; width: 100%; height: 300px" src="{{ line | image_url: width: 300 }}" alt="{{ line.product.title }}">
                                      </center>
                                    </td>
                                  </tr>
                                  
                                  <tr>
                                    <td style="padding: 0 12px 0 7px; vertical-align: top;">
                                      {% if line.product.title %}
                                        {% assign line_title = line.product.title %}
                                      {% else %}
                                        {% assign line_title = line.title %}
                                      {% endif %}
                                      {{ space_micro }}
                                      <center>
                                        <p style="line-height: 1.33; font-size: 12px;
                                        font-weight: 400; color: #222222; margin: 0; font-family: Mabry Pro, sans-serif; max-width: 192px; padding: 0;">
                                          {{ line_title }}
                                        </p>
                                        
                                        {% if line.original_line_price != line.final_line_price %}
                                          <p style="color: #999999; line-height: 1.33; font-size: 12px; margin: 0; font-family: Mabry Pro, sans-serif; max-width: 192px; padding: 0; text-decoration: line-through; opacity: 0.6;">
                                            {{ line.original_line_price | money_with_currency }}
                                          </p>
                                        {% endif %}
                                        
                                        <p style="color: #999999; line-height: 1.33; font-size: 12px; margin: 0; font-family: Mabry Pro, sans-serif; max-width: 192px; padding: 0;">
                                          {% if line.final_line_price > 0 %}
                                            {{ line.final_line_price | money_with_currency }}
                                          {% else %}
                                            Free
                                          {% endif %}
                                        </p>
                                      </center>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            {% endfor %}
                          </tr>
                        </table>
  
                        {{space_big}}
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        {{ hr }}
                        {{space_big}}
                        <center>
{% assign order_discount_count = 0 %}
{% assign total_order_discount_amount = 0 %}
{% assign has_shipping_discount = false %}

{% for discount_application in discount_applications %}
  {% if discount_application.target_selection == 'all' and discount_application.target_type == 'line_item' %}
    {% assign order_discount_count = order_discount_count | plus: 1 %}
    {% assign total_order_discount_amount = total_order_discount_amount | plus: discount_application.total_allocated_amount  %}
  {% endif %}
  {% if discount_application.target_type == 'shipping_line' %}
    {% assign has_shipping_discount = true %}
    {% assign shipping_discount = discount_application.title %}
    {% assign shipping_amount = discount_application.total_allocated_amount %}
  {% endif %}
{% endfor %}
                          <table>
                            <tr>
                              <td>
                                <center>
                                  <p
                                    style="padding: 0; color: #222222; font-size:12px; line-height: 1; letter-spacing: 0.36px; text-transform: uppercase; font-family: Mabry Pro, sans-serif;">
                                    TOTAL: {{ total_price | money_with_currency }}</p>
                                </center>
                                {{ space_micro }}
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <center>
                                  <p
                                    style="padding-top: 0; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; font-size:12px; line-height: 1; margin: 0; font-family: Mabry Pro, sans-serif;">
                                    Subtotal: {{ subtotal_price | plus: total_order_discount_amount | money_with_currency }}
                                  </p>
                                </center>
                              </td>
                            </tr>
                            {% if order_discount_count > 0 %}
                              {% if order_discount_count == 1 %}
                                <tr>
                                  <td>
                                    <center>
                                      <p
                                        style="padding-top: 0; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; margin: 0; font-size:12px; line-height: 1; font-family: Mabry Pro, sans-serif;">
                                        Discount: -{{ total_order_discount_amount | money }}
                                      </p>
                                    </center>
                                  </td>
                                </tr>
                              {% endif %}
                              {% if order_discount_count > 1 %}
                                <tr>
                                  <td>
                                    <center>
                                      <p
                                        style="padding-top: 0; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; margin: 0; font-size:12px; line-height: 1; font-family: Mabry Pro, sans-serif;">
                                        Discounts: -{{ total_order_discount_amount | money }}
                                      </p>
                                    </center>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endif %}

                            <tr>
                              <td>
                                <center>
                                  <p
                                    style="padding-top: 0; margin: 0; line-height: 1; font-size:12px; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; font-family: Mabry Pro, sans-serif;">
                                    Tax: {{ tax_price | money_with_currency }}<br />
                                  </p>
                                </center>
                              </td>
                            </tr>
                      
                            {% if delivery_method == 'pick-up' %}
                              <tr>
                                <td>
                                  <center>
                                    <p
                                      style="padding-top: 0; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; margin: 0; line-height: 1; font-size:12px; font-family: Mabry Pro, sans-serif;">
                                      Pickup: {{ shipping_price | money_with_currency }}
                                    </p>
                                  </center>
                                </td>
                              </tr>
                            {% else %}
                              {% if has_shipping_discount or shipping_price == 0 %}
                                <tr>
                                  <td>
                                    <center>
                                      <p
                                        style="padding-top: 0; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; margin: 0; line-height: 1; font-size:12px; font-family: Mabry Pro, sans-serif;">
                                        Shipping: Free
                                      </p>
                                    </center>
                                  </td>
                                </tr>
                              {% else %}
                                <tr>
                                  <td>
                                    <center>
                                      <p
                                        style="padding-top: 0; letter-spacing: 0.36px; text-transform: uppercase; color: #8E8E8E; margin: 0; line-height: 1; font-size:12px; font-family: Mabry Pro, sans-serif;">
                                        Shipping: {{ shipping_price | money_with_currency }}
                                      </p>
                                    </center>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endif %}
                          </table>
                        </center>
                        {{space_big}}
                      </td>
                    </tr>
                  </center>
                </td>
              </tr>
            </table>
            
            {{hr}}
            
            <center style="padding: 0 20px">
              <table>
                <tr>
                  <td>
                    {{space_big}}
                    <center>
                      <p style="font-family: Manner Pro Medium, sans-serif;
                          font-weight: 500;
                          font-size: 24px;
                          line-height: 30px;
                          color: #222222;
                          margin: 0;
                          padding: 0;
                        "
                      >
                        Your information
                      </p>
                    </center>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    <center>
                      {% if requires_shipping and shipping_address %}
                        <table>
                          <tr>
                            <td>
                              {{ space_small }}
                              <center>
                                <h3 style="font-family: Mabry Pro, sans-serif;
                                    font-size: 12px;
                                    line-height: 16px;
                                    font-weight: 400;
                                    color: #222222;
                                    margin-bottom: 0;
                                    padding: 0;
                                  "
                                >
                                  Shipping Address:
                                </h3>
                              </center>
                            </td>
                          </tr>
    
                          <tr>
                            <td>
                              {{ space_micro }}
                              <center class="gray-text">
                                {{ shipping_address | format_address }}
                              </center>
                            </td>
                          </tr>
                        </table>
                      {% endif %}
                    </center>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    <center>
                      {% if billing_address %}
                        <table>
                          <tr>
                            <td>
                              {{ space_small }}
                              <center>
                                <h3 style="font-size: 12px;
                                    line-height: 16px;
                                    font-family: Mabry Pro, sans-serif;
                                    font-weight: 400;
                                    color: #222222;
                                    padding: 0;
                                    margin-bottom: 0;
                                  "
                                >
                                  Billing Address:
                                </h3>
                              </center>
                            </td>
                          </tr>
    
                          <tr>
                            <td>
                              {{ space_micro }}
                              <center class="gray-text">
                                {{ billing_address | format_address }}
                              </center>
                            </td>
                          </tr>
                        </table>
                      {% endif %}
                    </center>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    <center>
                      {% if requires_shipping and shipping_address %}
                        {% if shipping_method %}
                          <table>
                            <tr>
                              <td>
                                {{ space_small }}
                                <center>
                                  <h3 style="font-size: 12px;
                                      line-height: 16px;
                                      font-family: Mabry Pro, sans-serif;
                                      font-weight: 400;
                                      color: #222222;
                                      padding: 0;
                                      margin-bottom: 0;
                                    "
                                  >
                                    Shipping method:
                                  </h3>
                                </center>
                              </td>
                            </tr>
      
                            <tr>
                              <td>
                                {{ space_micro }}
                                <center class="gray-text">
                                  <p>
                                    {{ shipping_method.title }}
                                  </p>
                                </center>
                              </td>
                            </tr>
                          </table>
                        {% endif %}
                      {% endif %}
                    </center>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    <center>
                      <table>
                        <tr>
                          <td>
                            {{ space_small }}
                            <center>
                              <h3 style="font-size: 12px;
                                  line-height: 16px;
                                  font-family: Mabry Pro, sans-serif;
                                  font-weight: 400;
                                  color: #222222;
                                  padding: 0;
                                  margin-bottom: 0;
                                "
                              >
                                Payment method:
                              </h3>
                            </center>
                          </td>
                        </tr>
  
                        <tr>
                          <td>
                            {{ space_micro }}
                            <center class="gray-text">
                              {% if transaction_count > 0 %}
                                {% for transaction in transactions %}
                                  {% if transaction.status == "success" or transaction.status == "pending" %}
                                    {% if transaction.payment_details.credit_card_company %}
                                      <p>
                                        {{ transaction.payment_details.credit_card_company }} ending with {{ transaction.payment_details.credit_card_last_four_digits }} &mdash; {{ transaction.amount | money }}
                                      </p>
                                    {% elsif transaction.gateway_display_name == "Gift card" %}
                                      <p>
                                        {{ transaction.gateway_display_name }} ending with {{ transaction.payment_details.gift_card.last_four_characters | upcase }} &mdash; {{ transaction.amount | money }} <br />
                                        &emsp;&emsp;&emsp;&nbsp;Gift card balance: {{ transaction.payment_details.gift_card.balance |  money }}
                                      </p>
                                    {% else %}
                                      <p>
                                        {{ transaction.gateway_display_name }} &mdash; {{ transaction.amount | money }}
                                      </p>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <p>
                                  Kindly note that all sale items are final and cannot be returned.
                                </p>
                              {% endif %}
                            </center>
                          </td>
                        </tr>
                      </table>
                    </center>
                    {{ space_big }}
                  </td>
                </tr>
              </table>
            </center>
            
            {{hr}}
            
            {{ footer }}
          </center>
        </td>
      </tr>
    </table>
  </center>
</body>

</html>







<tr class="subtotal-line">
  <td class="subtotal-line__title">
    Subtotal {{ subtotal_price | plus: total_order_discount_amount | money }}
  </td>
</tr>

{% if order_discount_count > 0 %}
  {% if order_discount_count == 1 %}
    <tr class="subtotal-line">
      <td class="subtotal-line__title">
        Order Discount: -{{ total_order_discount_amount | money }}
      </td>
    </tr>
  {% endif %}
  {% if order_discount_count > 1 %}
    <tr class="subtotal-line">
      <td class="subtotal-line__title">
        Order Discounts: -{{ total_order_discount_amount | money }}
      </td>
    </tr>
  {% endif %}
{% endif %}

{% if delivery_method == 'pick-up' %}
  <tr class="subtotal-line">
    <td class="subtotal-line__title">
      Pickup: {{ shipping_price | money }}
    </td>
  </tr>
{% else %}
  {% if has_shipping_discount %}
    <tr class="subtotal-line">
      <td class="subtotal-line__title">
        Shipping: Free
      </td>
    </tr>

    <tr class="subtotal-line">
      <td class="subtotal-line__title">
        {{ shipping_discount }} (-{{ shipping_amount | money }})
      </td>
    </tr>
  {% else %}
    <tr class="subtotal-line">
      <td class="subtotal-line__title">
        Shipping: {{ shipping_price | money }}
      </td>
    </tr>
  {% endif %}
{% endif %}

{% if total_duties %}
  <tr class="subtotal-line">
    <td class="subtotal-line__title">
      Duties: {{ total_duties | money }}
    </td>
  </tr>
{% endif %}

<tr class="subtotal-line">
  <td class="subtotal-line__title">
    Tax: {{ tax_price | money }}
  </td>
</tr>

{% if total_tip and total_tip > 0 %}
  <tr class="subtotal-line">
    <td class="subtotal-line__title">
      Tip: {{ total_tip | money }}
    </td>
  </tr>
{% endif %}